.container{
    width:80%;
    margin: auto;
    height:80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gen_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inp{
    padding:16px;
    background-color: transparent;
    border:2px solid var(--tertiary-color);
    border-radius: 16px;
    width: 500px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px var(--tertiary-color);
    outline: none;
}

.buttons{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container button{
    margin-top: 20px;
    border-radius: 12px;
    outline: none;
    border: 2px solid white;
    padding: 10px;
    height:40px;
    width: 140px;
    font-size: 16px;
    background-color:transparent;
    color: white;
    letter-spacing: 0.1rem;
    transition: 0.5s ease-in-out;
}

.container button:hover{
    cursor: pointer;
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
    box-shadow: 0px 0px 35px var(--tertiary-color);
    letter-spacing: 0.25rem;
}

.Output_Field{
    width: 500px;
    height: 500px;
    border: 2px solid magenta;
    box-shadow: 2px 2px 20px magenta;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:1024px){
    .inp{
        padding:14px;
        width: 370px;
    }
    
    .Output_Field{
        width: 400px;
        height: 400px;
    }

    .buttons{
        width: 400px;
        flex-wrap: wrap;
    }

    .container button{
        padding: 10px;
        height:40px;
        width: 100px;
    }
    
}

@media only screen and (max-width:768px){

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .gen_form{
        margin-right: 40px;
    }
    .inp{
        padding:12px;
        width: 280px;
        
    }

    
    .Output_Field{
        margin-top: 50px;
    }
}

@media only screen and (max-width:426px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .gen_form{
        margin-top: 50px;
        margin-left: 40px;
    }

    .buttons{
        width: 280px;
    }
    
    .Output_Field{
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
    }
}